<!doctype html>
<html ng-app="LunchCheckerApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"> </script>
    <script src="app.js"> </script>
    <style> body { font-size: 1.3em; }</style>
    <title>Lunch Checker</title>
  </head>
<body>
   <h1>Lunch Checker!!</h1>
   <div ng-controller="LunchCheckerController">
         <div>
             Enter items : <input type="text" size = "90"
             placeholder="list comma separated dishes you usually have for lunch"
              ng-model="items">
               <button ng-click="countNoOfItems()">Check If Too Much</button>
            </p>
         </div>
         <div>
           {{message}}
         </div>
       </p>
        <div>Note: This application is Not considering empty item, i.e., , , as an item towards to the count. </div>
</div>
</body>
</html>
